<a uib-dropdown-toggle data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul uib-dropdown-menu>
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('HELP')" data-ng-class="{active: currency.symbol == 'HELP'}">HELP</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mHELP')" data-ng-class="{active: currency.symbol == 'mHELP'}">mHELP</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uHELP')" data-ng-class="{active: currency.symbol == 'uHELP'}">uHELP</a>
  </li>
</ul>

